<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="imss.Properties.Settings.imssDBConnectionString" connectionString="Data Source=ADMINRG-8MG1PUP;Initial Catalog=imssDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      
    </startup>
</configuration>